apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base

replicas:
- name: gateway
  count: 3
- name: mime-server
  count: 5
- name: public-app
  count: 3

patchesStrategicMerge:
- |-
  apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: mime-storage-pvc
  spec:
    resources:
      requests:
        storage: 100Gi
